<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="polinema.ac.id.dtschapter03_starter">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SuccessActivity_12544"
            android:exported="true" />
        <activity
            android:name=".ForgotPassword_12544"
            android:exported="true" />
        <activity
            android:name=".ResetPassword_12544"
            android:exported="true" />
        <activity
            android:name=".WelcomeSlideAssign_12544"
            android:exported="true" />
        <activity
            android:name=".WelcomeSlideSuperhero_12544"
            android:exported="true" />
        <activity
            android:name=".WelcomeBack_12544"
            android:exported="true" />
        <activity
            android:name=".WelcomeSlideCalender_12544"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>